<!DOCTYPE html>
<html>
  <head>
    <title>XSS Demo</title>
  </head>
  <body>
    <h1>Hello, <%= username %></h1>
    <form>
      <input type="text" name="username" placeholder="Enter your name">
      <button type="submit">Submit</button>
    </form>
    <div>
      <%-
        `<p>${username}</p>`
      %>
    </div>
  </body>
</html>
